# Mac crap
.DS_Store

# Xcode noise
build/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*~
KeenClient.xcworkspace/xcshareddata/
.idea
KeenClient.xcodeproj/project.xcworkspace/xcshareddata/KeenClient.xccheckout

# CocoaPods
Pods
Podfile.lock
